* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: $main-color;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}
h2 {
  font-size: 1.375rem;
  font-weight: 600;
}
h3 {
  font-size: 1.125rem;
  font-weight: 600;
}
h4 {
  font-size: 0.938rem;
  font-weight: 500;
}

a, button, select {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
p, li, label {
  font-size: 14px;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

li {
 list-style: none;
}

input, textarea {
  outline: none;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: auto;
}

.form {
  &__error-message {
    color: $error-color;
    margin-top: 1rem;
  }
}

.text-muted {
  color: $muted-color;
}

.link--primary {
  cursor: pointer;
  &:hover {
    color: $accent-color;
  }
}

.link--underlined {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.button {
  font-size: 13px;
  font-weight: 700;
  border-radius: 12px;

  cursor: pointer;

  &:hover {
    background-color: #F5F5F5;
  }

  &:disabled,
  &[disabled]{
    background-color: $muted-color;
    color: $main-color;
    cursor: not-allowed;

    &:hover {
      background-color: $muted-color;
    }
  }
}

.button--primary {
  color: #fff;
  background-color: $accent-color;

  &:hover {
    background-color: $accent-color;
  }
}

.button--red {
  color: white;
  background-color: $error-color;

  &:hover {
    background-color: $error-color-dark;
  }
}

.button--grey {
  color: $muted-color;
}

.button--black {
  color: #151515;
}