.register-login-container {
  width: fit-content;
  display: flex;
  margin: 4rem auto 1rem;

  &__img {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    img {
      width: 100%;
    }
  }
}

.register-login {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    h1 {
      margin-bottom: 1rem;
    }
    margin-bottom: 2rem;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__button {
    margin-right: .5rem;
    padding: .75rem 1.2rem;
    width: fit-content;
  }

  &__line {
    width: 90%;
    height: 1px;
    background-color: #D1D1D1;
    margin: 2rem auto 1rem;
  }

  h4 {
    text-align: center;
  }

  &__alternative-signup {
    margin: .5rem auto;
    display: flex;
    justify-content: center;

    &__button {
      padding: .5rem .6rem;
      margin: 0 .5rem;
      background-color: #F9F9F9;
      width: fit-content;
      border: 2px solid #D1D1D1;

      display: flex;
      align-self: center;
  
      img {
        width: 1.7rem;
        height: auto;
      }
  
      &:hover {
        border-color: rgba($accent-color, .5);
      }
    }
  }
}

.register {
  max-width: 40rem;
}

.login {
  max-width: 20rem;
}

.input-group {
  width: 100%;
  max-width: 19rem;
  margin: 0 .5rem 2rem 0;
  display: flex;
  align-items: center;

  position: relative;

  &__label {
    color: $muted-color;
    position: absolute;
    left: 1rem;
    top: .7rem;
    pointer-events: none;

    transition: all .2s ease;
  }

  &__icon {
    width: 1.2rem;
    position: absolute;
    right: 1rem;
  }

  &__input {
    width: 100%;
    padding: .75rem 1rem .75rem 1.25rem;
    font-size: 1rem;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: .75rem;

    &:invalid + .input-group__label {
      transform:translateY(0);
    }

    &:focus {
      border-color: $accent-color;

      & + .input-group__label {
        color: $accent-color;
        font-size: .6rem;
        top: 0;
      }

      & ~ .input-group__icon {
        filter: invert(32%) sepia(85%) saturate(1300%) hue-rotate(173deg) brightness(80%) contrast(105%);
      }

    }
  }
}

// .form {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;

//   &__group {
//     width: 100%;
//     max-width: 19rem;
//     margin: 0 .5rem 1rem 0;
//     display: flex;
//     flex-direction: column;
    
//     font-weight: 600;

//     input {
//       padding: .75rem 1rem .75rem 1.25rem;
//       font-size: 1rem;
//       background: #F9F9F9;
//       border: 1px solid #D1D1D1;
//       border-radius: .75rem;
//       margin-top: .5rem;

//       &::placeholder {
//         font-size: $text-small;
//       }

//       &:focus {
//         border-color: $accent-color;
//       }
//     }
//   }
// }