@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: #151515;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.375rem;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

h4 {
  font-size: 0.938rem;
  font-weight: 500;
}

a, button, select {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

p, li, label {
  font-size: 14px;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

li {
  list-style: none;
}

input, textarea {
  outline: none;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: auto;
}

.text-muted {
  color: #A9A9A9;
}

.link--primary {
  cursor: pointer;
}

.link--primary:hover {
  color: #007CBB;
}

.button {
  font-size: 13px;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  background-color: #F5F5F5;
}

.button--primary {
  color: #fff;
  background-color: #007CBB;
}

.button--primary:hover {
  background-color: #007CBB;
}

.button--grey {
  color: #A9A9A9;
}

.button--black {
  color: #151515;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.header__link img {
  width: 1.5rem;
  height: 1.5rem;
}

.categories {
  background-color: #F9F9F9;
}

.categories__list {
  width: 100%;
  height: 100%;
  max-width: 40rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories__option {
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.categories__option a {
  padding: 1rem;
  display: block;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.categories__option:hover, .categories__option--active {
  background-color: rgba(0, 124, 187, 0.2);
}

.categories__option:hover a, .categories__option--active a {
  color: #007CBB;
}

.showcase {
  position: relative;
}

.showcase__header {
  margin-bottom: 1rem;
}

.sorting {
  width: 100%;
  margin-bottom: 1rem;
}

.sorting__wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem 1rem;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sorting__divide-line {
  margin: 0 .75rem;
  width: 1px;
  height: 1.25rem;
  background-color: #D1D1D1;
}

.sorting__select {
  font-weight: 600;
  font-size: 0.8rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: url("../images/arrow-down.svg") 100%/8% no-repeat transparent;
  padding: .2rem 1.5rem .2rem .2rem;
}

.applied-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.applied-filters__text {
  font-weight: 600;
}

.applied-filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.applied-filters__item {
  padding: 0 1.6rem 0 .5rem;
  margin-left: .75rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #007CBB;
  background-color: rgba(0, 124, 187, 0.1);
  border-radius: 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.applied-filters__item__delete {
  width: 1rem;
  height: 1rem;
  opacity: 0.3;
  position: absolute;
  right: -.1rem;
  cursor: pointer;
}

.applied-filters__item__delete:hover {
  opacity: 1;
}

.applied-filters__item__delete:before, .applied-filters__item__delete:after {
  position: absolute;
  content: ' ';
  height: 1rem;
  width: 2px;
  background-color: #007CBB;
}

.applied-filters__item__delete:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.applied-filters__item__delete:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.catalog {
  padding: 1rem 2rem;
  margin-left: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.product-card {
  width: 16rem;
  margin: 1.4rem .7rem;
  padding: 1rem;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  position: relative;
}

.product-card__discount {
  position: absolute;
  padding: 0 .5rem;
  border-radius: 12px;
  background-color: rgba(0, 124, 187, 0.3);
}

.product-card__discount p {
  color: #007CBB;
  font-weight: 600;
  font-size: 13px;
}

.product-card__img {
  width: 100%;
  height: 11.25rem;
}

.product-card__img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.product-card__title {
  margin-bottom: .25rem;
}

.product-card__volume {
  color: #575757;
  font-size: 0.8rem;
  margin-bottom: .75rem;
}

.product-card__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card__price-current {
  font-weight: 600;
  font-size: 18px;
}

.product-card__price-current img {
  width: .75rem;
  height: auto;
}

.product-card__price-previous {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.product-card__button {
  padding: 6.5px .75rem;
  line-height: 22.5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sidebar {
  width: 100%;
  max-width: 13rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__header {
  margin: 1rem 0;
}

.sidebar__buttons {
  padding: 1rem 0;
}

.sidebar__buttons button {
  padding: .75rem 1rem;
}

.volumes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 8rem;
}

.volumes__option {
  padding: .2rem 0;
  margin: .1rem;
  border-radius: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.volumes__option:hover, .volumes__option--active {
  background-color: rgba(0, 124, 187, 0.1);
}

.price__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__inputs label {
  font-weight: 600;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__input {
  padding: .7rem 1rem;
  max-width: 6rem;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.dropdown__trigger {
  padding: .8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.dropdown__arrow span {
  display: block;
  width: 8px;
  height: 8px;
  position: relative;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.dropdown__arrow span::before, .dropdown__arrow span::after {
  content: '';
  width: 2px;
  height: 10px;
  background-color: #007CBB;
  display: block;
  position: absolute;
}

.dropdown__arrow span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 0;
}

.dropdown__arrow span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
}

.dropdown__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.dropdown--active .dropdown__content {
  max-height: 100%;
}

.dropdown--active .dropdown__arrow span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.cart-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: fixed;
  left: 0;
  top: 0;
}

.cart-modal__window {
  width: 100%;
  max-width: 25rem;
  height: 100%;
  padding: 1.5rem 1rem;
  background-color: #FFFFFF;
  position: absolute;
  right: -25rem;
  top: 0;
  z-index: 3;
  -webkit-transition: right .3s ease;
  transition: right .3s ease;
}

.cart-modal__top {
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-modal__top h2 {
  font-weight: 600;
  font-size: 26px;
}

.cart-modal__top__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-modal__top__close p {
  color: #A9A9A9;
}

.cart-modal__top__close img {
  margin-left: .4rem;
}

.cart-modal__top__close:hover p {
  color: #007CBB;
}

.cart-modal__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-modal__product {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-modal__product__column {
  width: 100%;
  position: relative;
}

.cart-modal__product__column-left {
  max-width: 6.25rem;
}

.cart-modal__product__column-right {
  max-width: 15.688rem;
}

.cart-modal__product__img {
  width: 100%;
  height: 4.188rem;
  border-radius: 12px;
}

.cart-modal__product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart-modal__product__remove {
  color: #A9A9A9;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart-modal__product__remove img {
  width: 7px;
  height: auto;
  margin-right: 6px;
}

.cart-modal__product__remove:hover {
  color: #007CBB;
}

.cart-modal__product__title {
  margin-bottom: .25rem;
}

.cart-modal__product__volume {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.cart-modal__product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-modal__product__price-current {
  color: #007CBB;
}

.cart-modal__product__price-current img {
  width: .75rem;
  height: auto;
  -webkit-filter: invert(32%) sepia(85%) saturate(1300%) hue-rotate(173deg) brightness(80%) contrast(105%);
          filter: invert(32%) sepia(85%) saturate(1300%) hue-rotate(173deg) brightness(80%) contrast(105%);
}

.cart-modal__product__price-previous {
  text-decoration: line-through;
}

.cart-modal__product__amount__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .7rem 2rem .6rem .6rem;
  border-radius: 12px;
  border: 1px solid #D1D1D1;
  outline: none;
  background: url("../images/arrow-down.svg") 80%/15% no-repeat #F9F9F9;
}

.cart-modal__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.cart-modal__subtotal {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #EBEBEB;
}

.cart-modal__subtotal p {
  font-weight: 600;
  font-size: 0.8rem;
}

.cart-modal__subtotal h2 img {
  width: .95rem;
  height: auto;
}

.cart-modal__buttons {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-modal__buttons button {
  padding: .75rem 1rem;
}

.cart-modal--active {
  opacity: 1;
  pointer-events: all;
}

.cart-modal--active .cart-modal__window {
  right: 0;
}

.register-login-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem auto 1rem;
}

.register-login-container__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
}

.register-login-container__img img {
  width: 100%;
}

.register-login {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-login__header {
  margin-bottom: 2rem;
}

.register-login__form {
  width: 100%;
}

.register-login__button {
  margin: 1rem .5rem 0 0;
  padding: .75rem 1.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.register-login__line {
  width: 90%;
  height: 1px;
  background-color: #D1D1D1;
  margin: 2rem auto 1rem;
}

.register-login h4 {
  text-align: center;
}

.register-login__alternative-signup {
  margin: .5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-login__alternative-signup__button {
  padding: .5rem .6rem;
  margin: 0 .5rem;
  background-color: #F9F9F9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #D1D1D1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.register-login__alternative-signup__button img {
  width: 1.7rem;
  height: auto;
}

.register-login__alternative-signup__button:hover {
  border-color: rgba(0, 124, 187, 0.5);
}

.register {
  max-width: 40rem;
}

.login {
  max-width: 20rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__group {
  width: 100%;
  max-width: 19rem;
  margin: 0 .5rem 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
}

.form__group input {
  padding: .75rem 1rem .75rem 1.25rem;
  font-size: 1rem;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: .75rem;
  margin-top: .5rem;
}

.form__group input::-webkit-input-placeholder {
  font-size: 0.8rem;
}

.form__group input:-ms-input-placeholder {
  font-size: 0.8rem;
}

.form__group input::-ms-input-placeholder {
  font-size: 0.8rem;
}

.form__group input::placeholder {
  font-size: 0.8rem;
}

.form__group input:focus {
  border-color: #007CBB;
}
/*# sourceMappingURL=index.css.map */